<main>
  <!-- <div class="container">
    <h2>Dashboard</h2>
    < Custom Event -->
  <!-- <app-dashboard (serverCreato)="onAggiungiServer($event)"></app-dashboard>
  </div>  -->

  <!-- <div class="container"> -->
  <!-- <h2>Servers</h2> -->

  <!-- Custom Properties -->
  <!-- <app-server
      [nomeServer]="nomeServer"
      [numConnChild]="numConness"
    ></app-server> -->

  <!-- <app-server *ngFor="let server of listaServer"
    [nomeServer]="server.nomeServer"
    [numConnChild]="server.numConness"></app-server> -->
  <!-- </div>

  <div class="container">
    <app-users></app-users>
  </div> -->

  <div class="container">
    <app-giochi></app-giochi>
  </div>
</main>
